.footer-nav {

    &__list {
        grid-column: 2/9;
        padding: 0;
        margin: 10px 0;

        @include md {
            padding: 10px 15px;
            text-align: center;
        }
    }

    &__item {
        display: inline-block;
        color: #c3c3c3;
        font-size: 12px;
        font-weight: 700;

        &::before {
            content: "\00B7";
            margin: 2px;
        }

        &:first-child::before {
            display: none;
        }
    }

    &__link {
        color: #c3c3c3;
        text-decoration: none;
    }
}