*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $base-text-color;
  background: url(../images/main-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  line-height: 1.3;
}

.all-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(68px, auto) minmax(47px, auto) minmax(408px, auto) minmax(53px, auto) minmax(758px, auto) minmax(261px, auto) minmax(48px, auto);
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(7, minmax(auto, 136px)) 1fr;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px;
}

.col {
  @include make-cols;
}

.col-sm {
  @media screen and (min-width: 590px) {
    @include make-cols;
  }
}
.col-md {
  @media screen and (min-width: 810px) {
    @include make-cols;
  }
}
.col-lg {
  @media screen and (min-width: 940px) {
    @include make-cols;
  }
}