@mixin lg {
  @media screen and (max-width: 940px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 810px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 590px) {
    @content;
  }
}

@mixin xsm {
  @media screen and (max-width: 376px) {
    @content;
  }
}

@mixin btn-hover ($color) {
  &:hover {
    background-color: darken(($color), 5%);
  }
}

@mixin make-cols {
  @for $i from 1 through 12 {
    &-#{$i} {
      width: calc($i / 12)*100%;
      padding: 0 4px;
      margin-bottom: 4px;
    }
  }
}